@{
    ViewBag.Title = "Contacto";
}
<br />
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Urb. Quinta da Ouriva<br />
    Lote 12 3ºB 8500-484 Portimão<br />
    <abbr title="Telefone">T:</abbr>
    96 80 50 118
</address>

<address>
    <strong>Pessoal:</strong>   <a href="mailto:pedro.roldan@gmail.com">Pedro.Roldan@gmail.com</a>
</address>